In [18]:
import pandas as pd
import numpy as np

In [19]:
df_2014 = pd.read_csv('resources/2014_citibike_data.csv')
df_2014.head(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,471,2014-01-01 00:00:06,2014-01-01 00:07:57,2009,Catherine St & Monroe St,40.711174,-73.996826,263,Elizabeth St & Hester St,40.717290,-73.996375,16379,Subscriber,1986,1
1,1494,2014-01-01 00:00:38,2014-01-01 00:25:32,536,1 Ave & E 30 St,40.741444,-73.975361,259,South St & Whitehall St,40.701221,-74.012342,15611,Subscriber,1963,1
2,464,2014-01-01 00:03:59,2014-01-01 00:11:43,228,E 48 St & 3 Ave,40.754601,-73.971879,2022,E 59 St & Sutton Pl,40.758491,-73.959206,16613,Subscriber,1991,1
3,373,2014-01-01 00:05:15,2014-01-01 00:11:28,519,Pershing Square N,40.751884,-73.977702,526,E 33 St & 5 Ave,40.747659,-73.984907,15938,Subscriber,1989,1
4,660,2014-01-01 00:05:18,2014-01-01 00:16:18,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,436,Hancock St & Bedford Ave,40.682166,-73.953990,19830,Subscriber,1990,1
5,330,2014-01-01 00:05:55,2014-01-01 00:11:25,422,W 59 St & 10 Ave,40.770513,-73.988038,526,E 33 St & 5 Ave,40.747659,-73.984907,17343,Subscriber,1987,1
6,261,2014-01-01 00:06:04,2014-01-01 00:10:25,516,E 47 St & 1 Ave,40.752069,-73.967844,167,E 39 St & 3 Ave,40.748901,-73.976049,17880,Subscriber,1983,1
7,337,2014-01-01 00:06:41,2014-01-01 00:12:18,380,W 4 St & 7 Ave S,40.734011,-74.002939,435,W 21 St & 6 Ave,40.741740,-73.994156,16275,Subscriber,1963,1
8,429,2014-01-01 00:07:33,2014-01-01 00:14:42,296,Division St & Bowery,40.714131,-73.997047,306,Cliff St & Fulton St,40.708235,-74.005301,17318,Subscriber,1972,2
9,1025,2014-01-01 00:08:27,2014-01-01 00:25:32,540,Lexington Ave & E 26 St,40.741473,-73.983209,447,8 Ave & W 52 St,40.763707,-73.985162,15525,Subscriber,1981,1

In [60]:
new_df_2014 = df_2014.drop(['start station longitude', 'start station latitude', 'end station longitude', 'end station latitude'], axis=1)
new_df_2014.rename(columns={'tripduration': 'Trip Duration'}, inplace=True)
new_df_2014.rename(columns={'starttime': 'Start Time'}, inplace=True)
new_df_2014.rename(columns={'stoptime': 'Stop Time'}, inplace=True)
new_df_2014.rename(columns={'bikeid': 'Bike ID'}, inplace=True)
new_df_2014.rename(columns={'usertype': 'User Type'}, inplace=True)
new_df_2014.rename(columns={'birth year': 'Birth_Year'}, inplace=True)
new_df_2014.rename(columns={'gender': 'Gender'}, inplace=True)
new_df_2014.rename(columns={'start station name': 'Start Station Name'}, inplace=True)
new_df_2014.rename(columns={'end station name': 'End Station Name'}, inplace=True)
new_df_2014.rename(columns={'start station id': 'Start Station ID'}, inplace=True)
new_df_2014.rename(columns={'end station id': 'Start Station ID'}, inplace=True)
new_df_2014.tail(5)

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station ID,End Station Name,Bike ID,User Type,Birth_Year,Gender
300395,780,2014-01-31 23:57:34,2014-02-01 00:10:34,308,St James Pl & Oliver St,312,Allen St & E Houston St,17299,Subscriber,1988,1
300396,1074,2014-01-31 23:57:45,2014-02-01 00:15:39,482,W 15 St & 7 Ave,488,W 39 St & 9 Ave,19886,Subscriber,1982,1
300397,191,2014-01-31 23:58:16,2014-02-01 00:01:27,247,Perry St & Bleecker St,368,Carmine St & 6 Ave,20249,Subscriber,1969,2
300398,1052,2014-01-31 23:58:34,2014-02-01 00:16:06,482,W 15 St & 7 Ave,488,W 39 St & 9 Ave,19922,Subscriber,1981,2
300399,1133,2014-01-31 23:58:43,2014-02-01 00:17:36,450,W 49 St & 8 Ave,294,Washington Square E,18944,Subscriber,1969,1

In [62]:
new_df_2014.dropna(how='all')
new_df_2014.tail(5)

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station ID,End Station Name,Bike ID,User Type,Birth_Year,Gender
0,471,2014-01-01 00:00:06,2014-01-01 00:07:57,2009,Catherine St & Monroe St,263,Elizabeth St & Hester St,16379,Subscriber,1986,1
1,1494,2014-01-01 00:00:38,2014-01-01 00:25:32,536,1 Ave & E 30 St,259,South St & Whitehall St,15611,Subscriber,1963,1
2,464,2014-01-01 00:03:59,2014-01-01 00:11:43,228,E 48 St & 3 Ave,2022,E 59 St & Sutton Pl,16613,Subscriber,1991,1
3,373,2014-01-01 00:05:15,2014-01-01 00:11:28,519,Pershing Square N,526,E 33 St & 5 Ave,15938,Subscriber,1989,1
4,660,2014-01-01 00:05:18,2014-01-01 00:16:18,83,Atlantic Ave & Fort Greene Pl,436,Hancock St & Bedford Ave,19830,Subscriber,1990,1
5,330,2014-01-01 00:05:55,2014-01-01 00:11:25,422,W 59 St & 10 Ave,526,E 33 St & 5 Ave,17343,Subscriber,1987,1
6,261,2014-01-01 00:06:04,2014-01-01 00:10:25,516,E 47 St & 1 Ave,167,E 39 St & 3 Ave,17880,Subscriber,1983,1
7,337,2014-01-01 00:06:41,2014-01-01 00:12:18,380,W 4 St & 7 Ave S,435,W 21 St & 6 Ave,16275,Subscriber,1963,1
8,429,2014-01-01 00:07:33,2014-01-01 00:14:42,296,Division St & Bowery,306,Cliff St & Fulton St,17318,Subscriber,1972,2
9,1025,2014-01-01 00:08:27,2014-01-01 00:25:32,540,Lexington Ave & E 26 St,447,8 Ave & W 52 St,15525,Subscriber,1981,1
10,718,2014-01-01 00:09:32,2014-01-01 00:21:30,263,Elizabeth St & Hester St,251,Mott St & Prince St,15693,Customer,\N,0
11,786,2014-01-01 00:10:59,2014-01-01 00:24:05,153,E 40 St & 5 Ave,290,2 Ave & E 58 St,15281,Subscriber,1968,1
12,267,2014-01-01 00:11:17,2014-01-01 00:15:44,151,Cleveland Pl & Spring St,410,Suffolk St & Stanton St,15159,Subscriber,1983,1
13,744,2014-01-01 00:12:23,2014-01-01 00:24:47,450,W 49 St & 8 Ave,505,6 Ave & W 33 St,15157,Subscriber,1976,1
14,704,2014-01-01 00:12:25,2014-01-01 00:24:09,331,Pike St & Monroe St,195,Liberty St & Broadway,17080,Subscriber,1980,2

In [56]:
new_df_2014 = new_df_2014.replace(r'\\N','', regex=True)
new_df_2014['Birth_Year'].replace('', pd.np.nan, inplace=True)
new_df_2014.head(15)

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station ID,End Station Name,Bike ID,User Type,Birth_Year,Gender
0,471,2014-01-01 00:00:06,2014-01-01 00:07:57,2009,Catherine St & Monroe St,263,Elizabeth St & Hester St,16379,Subscriber,1986,1
1,1494,2014-01-01 00:00:38,2014-01-01 00:25:32,536,1 Ave & E 30 St,259,South St & Whitehall St,15611,Subscriber,1963,1
2,464,2014-01-01 00:03:59,2014-01-01 00:11:43,228,E 48 St & 3 Ave,2022,E 59 St & Sutton Pl,16613,Subscriber,1991,1
3,373,2014-01-01 00:05:15,2014-01-01 00:11:28,519,Pershing Square N,526,E 33 St & 5 Ave,15938,Subscriber,1989,1
4,660,2014-01-01 00:05:18,2014-01-01 00:16:18,83,Atlantic Ave & Fort Greene Pl,436,Hancock St & Bedford Ave,19830,Subscriber,1990,1
5,330,2014-01-01 00:05:55,2014-01-01 00:11:25,422,W 59 St & 10 Ave,526,E 33 St & 5 Ave,17343,Subscriber,1987,1
6,261,2014-01-01 00:06:04,2014-01-01 00:10:25,516,E 47 St & 1 Ave,167,E 39 St & 3 Ave,17880,Subscriber,1983,1
7,337,2014-01-01 00:06:41,2014-01-01 00:12:18,380,W 4 St & 7 Ave S,435,W 21 St & 6 Ave,16275,Subscriber,1963,1
8,429,2014-01-01 00:07:33,2014-01-01 00:14:42,296,Division St & Bowery,306,Cliff St & Fulton St,17318,Subscriber,1972,2
9,1025,2014-01-01 00:08:27,2014-01-01 00:25:32,540,Lexington Ave & E 26 St,447,8 Ave & W 52 St,15525,Subscriber,1981,1
10,718,2014-01-01 00:09:32,2014-01-01 00:21:30,263,Elizabeth St & Hester St,251,Mott St & Prince St,15693,Customer,,0
11,786,2014-01-01 00:10:59,2014-01-01 00:24:05,153,E 40 St & 5 Ave,290,2 Ave & E 58 St,15281,Subscriber,1968,1
12,267,2014-01-01 00:11:17,2014-01-01 00:15:44,151,Cleveland Pl & Spring St,410,Suffolk St & Stanton St,15159,Subscriber,1983,1
13,744,2014-01-01 00:12:23,2014-01-01 00:24:47,450,W 49 St & 8 Ave,505,6 Ave & W 33 St,15157,Subscriber,1976,1
14,704,2014-01-01 00:12:25,2014-01-01 00:24:09,331,Pike St & Monroe St,195,Liberty St & Broadway,17080,Subscriber,1980,2

In [21]:
df_2018 = pd.read_csv('resources/2018_citibike_data.csv')
df_2018.head(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,196,2018-01-01 00:01:51,2018-01-01 00:05:07,315,South St & Gouverneur Ln,40.703554,-74.006702,259,South St & Whitehall St,40.701221,-74.012342,18534,Subscriber,1997.0,1
1,207,2018-01-01 00:02:44,2018-01-01 00:06:11,3224,W 13 St & Hudson St,40.739974,-74.005139,470,W 20 St & 8 Ave,40.743453,-74.000040,19651,Subscriber,1978.0,1
2,613,2018-01-01 00:03:15,2018-01-01 00:13:28,386,Centre St & Worth St,40.714948,-74.002345,2008,Little West St & 1 Pl,40.705693,-74.016777,21678,Subscriber,1982.0,1
3,375,2018-01-01 00:06:44,2018-01-01 00:12:59,466,W 25 St & 6 Ave,40.743954,-73.991449,325,E 19 St & 3 Ave,40.736245,-73.984738,29822,Subscriber,1982.0,1
4,402,2018-01-01 00:06:57,2018-01-01 00:13:40,438,St Marks Pl & 1 Ave,40.727791,-73.985649,380,W 4 St & 7 Ave S,40.734011,-74.002939,30722,Subscriber,1989.0,1
5,326,2018-01-01 00:12:31,2018-01-01 00:17:58,453,W 22 St & 8 Ave,40.744751,-73.999154,3258,W 27 St & 10 Ave,40.750182,-74.002184,30447,Subscriber,1963.0,1
6,136,2018-01-01 00:13:35,2018-01-01 00:15:52,3092,Berry St & N 8 St,40.719009,-73.958525,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,32904,Subscriber,1998.0,1
7,101,2018-01-01 00:13:47,2018-01-01 00:15:29,3534,Frederick Douglass Blvd & W 117 St,40.805159,-73.954692,3534,Frederick Douglass Blvd & W 117 St,40.805159,-73.954692,32796,Subscriber,1988.0,1
8,475,2018-01-01 00:13:51,2018-01-01 00:21:46,336,Sullivan St & Washington Sq,40.730477,-73.999061,237,E 11 St & 2 Ave,40.730473,-73.986724,16628,Subscriber,1968.0,2
9,311,2018-01-01 00:14:57,2018-01-01 00:20:09,319,Fulton St & Broadway,40.711066,-74.009447,249,Harrison St & Hudson St,40.718710,-74.009001,30143,Subscriber,1999.0,1

In [24]:
new_df_2018 = df_2018.drop(['start station longitude', 'start station latitude', 'end station longitude', 'end station latitude'], axis=1)
new_df_2018.rename(columns={'tripduration': 'Trip Duration'}, inplace=True)
new_df_2018.rename(columns={'starttime': 'Start Time'}, inplace=True)
new_df_2018.rename(columns={'stoptime': 'Stop Time'}, inplace=True)
new_df_2018.rename(columns={'bikeid': 'Bike ID'}, inplace=True)
new_df_2018.rename(columns={'usertype': 'User Type'}, inplace=True)
new_df_2018.rename(columns={'birth year': 'Birth Year'}, inplace=True)
new_df_2018.rename(columns={'gender': 'Gender'}, inplace=True)
new_df_2018.rename(columns={'start station name': 'Start Station Name'}, inplace=True)
new_df_2018.rename(columns={'end station name': 'End Station Name'}, inplace=True)
new_df_2018.rename(columns={'start station id': 'Start Station ID'}, inplace=True)
new_df_2018.rename(columns={'end station id': 'Start Station ID'}, inplace=True)
new_df_2018.tail(10)

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station ID,End Station Name,Bike ID,User Type,Birth Year,Gender
718974,468,2018-01-31 23:57:50,2018-02-01 00:05:39,3558,Bergen St & Vanderbilt Ave,244,Willoughby Ave & Hall St,30218,Subscriber,1975.0,1
718975,384,2018-01-31 23:57:58,2018-02-01 00:04:22,3383,Cathedral Pkwy & Broadway,3328,W 100 St & Manhattan Ave,31449,Subscriber,1993.0,1
718976,306,2018-01-31 23:58:18,2018-02-01 00:03:24,223,W 13 St & 7 Ave,238,Bank St & Washington St,30244,Subscriber,1982.0,1
718977,560,2018-01-31 23:58:39,2018-02-01 00:07:59,382,University Pl & E 14 St,394,E 9 St & Avenue C,33449,Subscriber,1984.0,1
718978,341,2018-01-31 23:59:21,2018-02-01 00:05:03,3163,Central Park West & W 68 St,3226,W 82 St & Central Park West,31005,Subscriber,1963.0,1
718979,1134,2018-01-31 23:59:40,2018-02-01 00:18:34,3556,24 St & 41 Ave,3532,Ditmars Blvd & 19 St,25169,Subscriber,1990.0,1
718980,352,2018-01-31 23:59:51,2018-02-01 00:05:43,483,E 12 St & 3 Ave,537,Lexington Ave & E 24 St,30690,Subscriber,1998.0,1
718981,529,2018-01-31 23:59:52,2018-02-01 00:08:42,449,W 52 St & 9 Ave,490,8 Ave & W 33 St,16861,Subscriber,1969.0,1
718982,669,2018-01-31 23:59:54,2018-02-01 00:11:03,3146,E 81 St & 3 Ave,3141,1 Ave & E 68 St,26831,Subscriber,1962.0,1
718983,206,2018-01-31 23:59:55,2018-02-01 00:03:22,310,State St & Smith St,3455,Schermerhorn St & 3 Ave,21444,Subscriber,1988.0,1