In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('resources/2014_citibike_data.csv')
df.head(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,471,2014-01-01 00:00:06,2014-01-01 00:07:57,2009,Catherine St & Monroe St,40.711174,-73.996826,263,Elizabeth St & Hester St,40.717290,-73.996375,16379,Subscriber,1986,1
1,1494,2014-01-01 00:00:38,2014-01-01 00:25:32,536,1 Ave & E 30 St,40.741444,-73.975361,259,South St & Whitehall St,40.701221,-74.012342,15611,Subscriber,1963,1
2,464,2014-01-01 00:03:59,2014-01-01 00:11:43,228,E 48 St & 3 Ave,40.754601,-73.971879,2022,E 59 St & Sutton Pl,40.758491,-73.959206,16613,Subscriber,1991,1
3,373,2014-01-01 00:05:15,2014-01-01 00:11:28,519,Pershing Square N,40.751884,-73.977702,526,E 33 St & 5 Ave,40.747659,-73.984907,15938,Subscriber,1989,1
4,660,2014-01-01 00:05:18,2014-01-01 00:16:18,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,436,Hancock St & Bedford Ave,40.682166,-73.953990,19830,Subscriber,1990,1
5,330,2014-01-01 00:05:55,2014-01-01 00:11:25,422,W 59 St & 10 Ave,40.770513,-73.988038,526,E 33 St & 5 Ave,40.747659,-73.984907,17343,Subscriber,1987,1
6,261,2014-01-01 00:06:04,2014-01-01 00:10:25,516,E 47 St & 1 Ave,40.752069,-73.967844,167,E 39 St & 3 Ave,40.748901,-73.976049,17880,Subscriber,1983,1
7,337,2014-01-01 00:06:41,2014-01-01 00:12:18,380,W 4 St & 7 Ave S,40.734011,-74.002939,435,W 21 St & 6 Ave,40.741740,-73.994156,16275,Subscriber,1963,1
8,429,2014-01-01 00:07:33,2014-01-01 00:14:42,296,Division St & Bowery,40.714131,-73.997047,306,Cliff St & Fulton St,40.708235,-74.005301,17318,Subscriber,1972,2
9,1025,2014-01-01 00:08:27,2014-01-01 00:25:32,540,Lexington Ave & E 26 St,40.741473,-73.983209,447,8 Ave & W 52 St,40.763707,-73.985162,15525,Subscriber,1981,1