In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('resources/2014_citibike_data.csv')
df.head(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,471,2014-01-01 00:00:06,2014-01-01 00:07:57,2009,Catherine St & Monroe St,40.711174,-73.996826,263,Elizabeth St & Hester St,40.717290,-73.996375,16379,Subscriber,1986,1
1,1494,2014-01-01 00:00:38,2014-01-01 00:25:32,536,1 Ave & E 30 St,40.741444,-73.975361,259,South St & Whitehall St,40.701221,-74.012342,15611,Subscriber,1963,1
2,464,2014-01-01 00:03:59,2014-01-01 00:11:43,228,E 48 St & 3 Ave,40.754601,-73.971879,2022,E 59 St & Sutton Pl,40.758491,-73.959206,16613,Subscriber,1991,1
3,373,2014-01-01 00:05:15,2014-01-01 00:11:28,519,Pershing Square N,40.751884,-73.977702,526,E 33 St & 5 Ave,40.747659,-73.984907,15938,Subscriber,1989,1
4,660,2014-01-01 00:05:18,2014-01-01 00:16:18,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,436,Hancock St & Bedford Ave,40.682166,-73.953990,19830,Subscriber,1990,1
5,330,2014-01-01 00:05:55,2014-01-01 00:11:25,422,W 59 St & 10 Ave,40.770513,-73.988038,526,E 33 St & 5 Ave,40.747659,-73.984907,17343,Subscriber,1987,1
6,261,2014-01-01 00:06:04,2014-01-01 00:10:25,516,E 47 St & 1 Ave,40.752069,-73.967844,167,E 39 St & 3 Ave,40.748901,-73.976049,17880,Subscriber,1983,1
7,337,2014-01-01 00:06:41,2014-01-01 00:12:18,380,W 4 St & 7 Ave S,40.734011,-74.002939,435,W 21 St & 6 Ave,40.741740,-73.994156,16275,Subscriber,1963,1
8,429,2014-01-01 00:07:33,2014-01-01 00:14:42,296,Division St & Bowery,40.714131,-73.997047,306,Cliff St & Fulton St,40.708235,-74.005301,17318,Subscriber,1972,2
9,1025,2014-01-01 00:08:27,2014-01-01 00:25:32,540,Lexington Ave & E 26 St,40.741473,-73.983209,447,8 Ave & W 52 St,40.763707,-73.985162,15525,Subscriber,1981,1

In [17]:
new_df = df.drop(['start station longitude', 'start station latitude', 'end station longitude', 'end station latitude'], axis=1)
new_df.rename(columns={'tripduration': 'Trip Duration'}, inplace=True)
new_df.rename(columns={'starttime': 'Start Time'}, inplace=True)
new_df.rename(columns={'stoptime': 'Stop Time'}, inplace=True)
new_df.rename(columns={'bikeid': 'Bike ID'}, inplace=True)
new_df.rename(columns={'usertype': 'User Type'}, inplace=True)
new_df.rename(columns={'birth year': 'Birth Year'}, inplace=True)
new_df.rename(columns={'gender': 'Gender'}, inplace=True)
new_df.rename(columns={'start station name': 'Start Station Name'}, inplace=True)
new_df.rename(columns={'end station name': 'End Station Name'}, inplace=True)
new_df.rename(columns={'start station id': 'Start Station ID'}, inplace=True)
new_df.rename(columns={'end station id': 'Start Station ID'}, inplace=True)
new_df.tail(10)

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station ID,End Station Name,Bike ID,User Type,Birth Year,Gender
300390,805,2014-01-31 23:56:47,2014-02-01 00:10:12,346,Bank St & Hudson St,128,MacDougal St & Prince St,14862,Subscriber,1980,2
300391,1006,2014-01-31 23:57:07,2014-02-01 00:13:53,505,6 Ave & W 33 St,470,W 20 St & 8 Ave,16533,Subscriber,1982,2
300392,533,2014-01-31 23:57:07,2014-02-01 00:06:00,168,W 18 St & 6 Ave,293,Lafayette St & E 8 St,19003,Subscriber,1989,2
300393,604,2014-01-31 23:57:09,2014-02-01 00:07:13,380,W 4 St & 7 Ave S,433,E 13 St & Avenue A,20529,Subscriber,1975,1
300394,676,2014-01-31 23:57:11,2014-02-01 00:08:27,83,Atlantic Ave & Fort Greene Pl,344,Monroe St & Bedford Ave,17438,Subscriber,1977,1
300395,780,2014-01-31 23:57:34,2014-02-01 00:10:34,308,St James Pl & Oliver St,312,Allen St & E Houston St,17299,Subscriber,1988,1
300396,1074,2014-01-31 23:57:45,2014-02-01 00:15:39,482,W 15 St & 7 Ave,488,W 39 St & 9 Ave,19886,Subscriber,1982,1
300397,191,2014-01-31 23:58:16,2014-02-01 00:01:27,247,Perry St & Bleecker St,368,Carmine St & 6 Ave,20249,Subscriber,1969,2
300398,1052,2014-01-31 23:58:34,2014-02-01 00:16:06,482,W 15 St & 7 Ave,488,W 39 St & 9 Ave,19922,Subscriber,1981,2
300399,1133,2014-01-31 23:58:43,2014-02-01 00:17:36,450,W 49 St & 8 Ave,294,Washington Square E,18944,Subscriber,1969,1